// Definindo variáveis de cores com paletas de café
$primary-color: #6f4e37; // Café marrom
$secondary-color: #d7ccc8; // Café com leite
$accent-color: #a1887f; // Café claro
$background-color: #6f4e37; // Fundo claro
$text-color: #3e2723; // Texto escuro

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}

a {
    color: $primary-color;
}

button {
    background-color: $secondary-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
}