// Definindo variáveis de cores com paletas de café
$primary-color: #6f4e37; // Café marrom
$secondary-color: #d7ccc8; // Café com leite
$accent-color: #a1887f; // Café claro
$background-color: #b38b6f; // Fundo claro
$text-color: #3e2723; // Texto escuro

// Estilos globais
body {
    background-color: $background-color;
    color: $text-color;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

h1 {
    color: $primary-color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: $primary-color;
    &:hover {
        color: $accent-color;
    }
}



th{
    
    font-size: 0.8em;
}

tr{
    font-weight: 800;
   text-align: center;
    font-size: 0.8em;
 }
.align-middle {
    vertical-align: middle !important;
}

.text-success{
    background-color: green;
    color: white !important;
}

.text-danger{
    background-color: red;
    color: white !important;
}


        


// Botões
.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
        color: #fff;
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
    }

    &:focus, &:active {
        color: #fff;
        background-color: darken($primary-color, 15%);
        border-color: darken($primary-color, 15%);
    }
}

.btn-secondary {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;

    &:hover {
        color: #fff;
        background-color: darken($secondary-color, 10%);
        border-color: darken($secondary-color, 10%);
    }

    &:focus, &:active {
        color: #fff;
        background-color: darken($secondary-color, 15%);
        border-color: darken($secondary-color, 15%);
    }
}

.btn-m {
    margin-right: 0.5rem;
    font-size: large;
    padding: 1rem;
}