<!-- Crie um ambiente para calcular a alcalinidade e a dureza e o sodium de um agua inserindo em uma lista abaixo -->

<div class="container justify-content-evenly">
    <div>
        <!-- Inserir um modal para com o botao de ajustar parametros para que retorne os parametros dos params de maneira que possa 
         alterar caso a pesso queira um parametro diferente -->
        <div class="header mt-5">

            <h1>Água</h1>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalParams">
                Ajustar Parâmetros
            </button>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalSobre">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="brown" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
            </button>
        </div>
        <p class="text-center mt-2">Insira os valores da água para calcular a alcalinidade e a dureza</p>

        <form [formGroup]="formWater">
            <div class="d-flex flex-wrap justify-content-evenly">

                <div class="form-group m-1 col-5">
                    <label for="nome">Nome</label>
                    <input type="text" formControlName="nome" class="form-control" id="nome">
                </div>

                <div class="form-group m-1  col-5">
                    <label for="bicarbonato">Bicarbonato</label>
                    <input type="number" formControlName="bicarbonato" class="form-control" id="bicarbonato">
                </div>
                <div class="form-group m-1  col-5">
                    <label for="calcio">Cálcio</label>
                    <input type="number" formControlName="calcio" class="form-control" id="calcio">
                </div>
                <!-- <div class="form-group m-1 ">
                            <label for="sulfato">Sulfato</label>
                            <input type="number" formControlName="sulfato" class="form-control" id="sulfato">
                        </div> -->
                <div class="form-group m-1  col-5">
                    <label for="magnesio">Magnésio</label>
                    <input type="number" formControlName="magnesio" class="form-control" id="magnesio">
                </div>
                <div class="form-group m-1  col-5">
                    <label for="sodio">Sódio</label>
                    <input type="number" formControlName="sodio" class="form-control" id="sodio">
                </div>
                <div class="form-group m-1  col-5">
                    <label for="ph">PH</label>
                    <input type="number" formControlName="ph" class="form-control" id="ph">
                </div>

            </div>
            <div class="form-group m-1 col-sm-8">
                <button type="button" class="btn btn-primary btn-sm" (click)="calcular()">Calcular</button>
            </div>
        </form>

        <div class="col-md-6 col-sm-12 mt-5">
            <a class="btn btn-primary btn-sm mb-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                SCA
              </a>
            <div class="collapse" id="collapseExample">
                <table class="table text-center " style="">
                    <thead>
                        <tr>
                            <th class="align-middle">Dureza</th>
                            <th class="align-middle">Alcalinidade</th>
                            <th class="align-middle">PH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">50-175 mg/l
                                <p style="font-size: xx-small;">Caracteristica:<br>+ dureza maior eficiencia na extração
                                </p>
                            </td>
                            <td class="align-middle">40-75 mg/l

                                <p style="font-size: xx-small;">Caracteristica: <br> + alcalino - acidez</p>
                            </td>

                            
                            <td class="align-middle">6.5-7.5</td>
                        </tr>
                </table>
            </div>

            <table class="table text-center">
                <thead>
                    <tr>
                        <th class="align-middle">Nome</th>
                        <th class="align-middle">Dureza<!-- <br><small>(Id: 68mg/l, Ac: 17-85mg/l)</small> --></th>
                        <th class="align-middle">Alcal<!-- <br><small>(Id: 40mg/l, Ac: 30-50mg/l)</small> --></th>
                        <th class="align-middle">Sódio<!-- <br><small>(Id: 10mg/l, Ac: 5-15mg/l)</small> --></th>
                        <th class="align-middle">PH<!-- <br><small>(Id: 7, Ac: 6.5-7.5)</small> --></th>
                        <th class="align-middle">Obs</th>
                        <!--    <th class="align-middle">Ações</th> -->
                </thead>
                <tbody style="font-size: small;">
                    <tr *ngFor="let agua of listWater.waterList">
                        <td class="align-middle">{{ agua.nome }}</td>
                        <td class="align-middle"
                            [ngClass]="{'text-success': agua.dureza >= params.durezaMin && agua.dureza <= params.durezaMax, 'text-danger': !(agua.dureza >= params.durezaMin && agua.dureza <= params.durezaMax)}">
                            {{ agua.dureza | number:'1.2-2' }}</td>
                        <td class="align-middle"
                            [ngClass]="{'text-success': agua.alcalinidade >= params.alcalinityMin && agua.alcalinidade <= params.alcalinityMax, 'text-danger': !(agua.alcalinidade >= params.alcalinityMin && agua.alcalinidade <= params.alcalinityMax)}">
                            {{ agua.alcalinidade | number:'1.2-2' }}</td>
                        <td class="align-middle"
                            [ngClass]="{'text-success': agua.sodio >= params.sodiuMin && agua.sodio <= params.sodiuMax, 'text-danger': !(agua.sodio >= params.sodiuMin && agua.sodio <= params.sodiuMax)}">
                            {{agua.sodio | number:'1.2-2' }}</td>
                        <td class="align-middle"
                            [ngClass]="{'text-success': agua.ph >= params.phMin && agua.ph <= params.phMax, 'text-danger': !(agua.ph >= params.phMin && agua.ph <= params.phMax)}">
                            {{ agua.ph | number:'1.2-2' }}</td>


                        <td class="align-middle">
                            <small style="font-weight: 300;">{{ agua.caracteristica }}</small>
                        </td>
                        <!--    <td class="align-middle">
                            <button type="button" class="btn btn-danger btn-sm"
                                (click)="deleteWater(agua)"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .60rem;">
                            Excluir</button>
                        </td> -->

                    </tr>

                    <tr *ngIf="listWater.waterList.length === 0">
                        <td colspan="7">Nenhum registro encontrado</td>
                    </tr>

                </tbody>
            </table>




        </div>
    </div>
</div>

<div class="modal fade" id="modalParams" tabindex="-1" aria-labelledby="modalParamsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalParamsLabel">Ajustar Parâmetros</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formParams">
                    <div class="d-flex flex-wrap justify-content-evenly">
                        <div class="form-group m-1 col-5">
                            <label for="durezaMin">Dureza Mínima</label>
                            <input type="number" formControlName="durezaMin" class="form-control" id="durezaMin">
                        </div>
                        <div class="form-group m-1 col-5">
                            <label for="durezaMax">Dureza Máxima</label>
                            <input type="number" formControlName="durezaMax" class="form-control" id="durezaMax">
                        </div>
                        <div class="form-group m-1 col-5">
                            <label for="alcalinityMin">Alcalinidade Mínima</label>
                            <input type="number" formControlName="alcalinityMin" class="form-control"
                                id="alcalinityMin">
                        </div>
                        <div class="form-group m-1 col-5">
                            <label for="alcalinityMax">Alcalinidade Máxima</label>
                            <input type="number" formControlName="alcalinityMax" class="form-control"
                                id="alcalinityMax">
                        </div>
                        <div class="form-group   m-1 col-5">
                            <label for="sodiuMin">Sódio Mínimo</label>
                            <input type="number" formControlName="sodiuMin" class="form-control" id="sodiuMin">
                        </div>
                        <div class="form-group m-1 col-5">
                            <label for="sodiuMax">Sódio Máximo</label>
                            <input type="number" formControlName="sodiuMax" class="form-control" id="sodiuMax">
                        </div>
                        <div class="form-group m-1 col-5">
                            <label for="phMin">PH Mínimo</label>
                            <input type="number" formControlName="phMin" class="form-control" id="phMin">
                        </div>
                        <div class="form-group   m-1 col-5">
                            <label for="phMax">PH Máximo</label>
                            <input type="number" formControlName="phMax" class="form-control" id="phMax">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" (click)="saveParams()">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSobre" tabindex="-1" aria-labelledby="modalParamsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalParamsLabel">Parâmetros</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h2>Impacto dos Nutrientes no Sensorial do Café</h2>

                    <div class="nutriente">
                        <h3>Alcalinidade (40 a 75 mg/L)</h3>
                        <p><span class="nivel">Nível Equilibrado:</span> Entre 40 e 75 mg/L. A alcalinidade equilibrada contribui para uma acidez agradável, que realça os sabores frutados e a doçura natural do café.</p>
                        <p><span class="nivel">Nível Elevado:</span> Acima de 75 mg/L. Aumenta o efeito tampão, reduzindo a acidez perceptível do café, tornando-o "apagado" e com menos vivacidade.</p>
                        <p><span class="nivel">Nível Baixo:</span> Abaixo de 40 mg/L. Pode resultar em um café excessivamente ácido, intensificando sabores ácidos e amargos, o que pode desequilibrar o perfil sensorial.</p>
                    </div>
                
                    <div class="nutriente">
                        <h3>Dureza Total (50 a 175 mg/L)</h3>
                        <p><span class="nivel">Nível Equilibrado:</span> Entre 50 e 175 mg/L. A dureza total nesse intervalo melhora a extração dos compostos desejáveis, resultando em um corpo balanceado e doçura perceptível no café.</p>
                        <p><span class="nivel">Nível Elevado:</span> Acima de 175 mg/L. Pode causar sobre-extração, criando um sabor metálico ou amargo e reduzindo a clareza dos sabores.</p>
                        <p><span class="nivel">Nível Baixo:</span> Abaixo de 50 mg/L. Reduz a eficiência de extração, resultando em um café ralo e "aguado", com menos corpo e intensidade de sabor.</p>
                    </div>
                
                    <div class="nutriente">
                        <h3>pH (6.5 a 7.5)</h3>
                        <p><span class="nivel">Nível Equilibrado:</span> Entre 6.5 e 7.5. Um pH balanceado promove uma extração neutra, realçando as características naturais do café sem interferir no sabor.</p>
                        <p><span class="nivel">Nível Elevado:</span> Acima de 7.5. Pode fazer com que o café pareça mais alcalino, suavizando a acidez, mas perdendo frescor e complexidade no sabor.</p>
                        <p><span class="nivel">Nível Baixo:</span> Abaixo de 6.5. Pode acentuar a acidez de maneira agressiva, tornando o café excessivamente ácido e potencialmente desconfortável ao paladar.</p>
                    </div>
                
                    <div class="nutriente">
                        <h3>Sódio (5 a 15 mg/L)</h3>
                        <p><span class="nivel">Nível Equilibrado:</span> Entre 5 e 15 mg/L. O sódio balanceado contribui para a percepção de suavidade e doçura, melhorando a textura do café sem interferir no sabor.</p>
                        <p><span class="nivel">Nível Elevado:</span> Acima de 15 mg/L. Pode adicionar um gosto salgado ao café, mascarando notas delicadas e prejudicando a clareza do sabor.</p>
                        <p><span class="nivel">Nível Baixo:</span> Abaixo de 5 mg/L. Pode resultar em uma sensação de secura, deixando o café com menos suavidade e corpo.</p>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>